# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
build/

# SPM
.swiftpm/
.build/

# macOS
.DS_Store

# Keep workspace for SPM integration
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
